html {
    -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 2%;
}

h1 {
    font-weight: lighter;
}

h2 {
    font-weight: normal;
    margin-top: 20px;
}

.container {
    max-width: 100%;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.parameter-section {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.parameter-item {
    font-size: 16px;
    margin: 5px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.parameter-item label {
    padding-right: 10px;
    margin-right: auto;
}

.parameter-button {
    font-size: 16px;
    margin-left: auto;
    display: flex;
    justify-content: right;
    align-items: center;
    flex-wrap: wrap;
}

.parameter-item input[type="checkbox"] {
    appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.parameter-item input[type="checkbox"]:checked {
    background-color: #666;
    border-color: #333;
}

.parameter-item input[type="checkbox"]:hover {
    border-color: #666;
}

input[type="number"] {
    max-width: 70px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    appearance: textfield;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    transition: background-color 0.3s, color 0.3s;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"]:hover {
    background-color: #e6e6e6;
}

input[type="number"]:focus {
    outline: none;
    border-color: #666;
}

.file-button,
select {
    margin-left: 5px;
    font-weight: normal;
    color: black;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    appearance: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.file-button:hover,
select:hover {
    background-color: #e6e6e6;
}

.file-button:active,
select:active {
    background-color: #ccc;
    color: #333;
}

.align-btn {
    margin: 5px;
    background-color: #f5f5f5;
    color: #333;
    font-size: 16px;
    padding: 8px 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.align-btn:hover {
    background-color: #e6e6e6;
}

.align-btn:active {
    background-color: #ccc;
    color: #333;
}

.input-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-button {
    font-size: 16px;
    margin-left: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.sequence-input {
    width: calc(50% - 5px);
}

label {
    display: block;
    font-weight: bold;
    font-size: 16px;
    padding-right: 10px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    resize: none;
    margin: 5px 0;
}

textarea {
    height: 30vh;
}

.result-section {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.result-item {
    display: flex;
    justify-content: space-between;
    font-family: monospace;
    white-space: pre;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.result-output {
    width: 85%;
    margin: 0;
    margin-left: 10px;
    overflow-x: auto;
}

.result-name {
    width: 15%;
    overflow-x: auto;
    margin: 0;
    text-align: right;
}