<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Sequence Alignment</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
</head>
<body>
    <div class="container">
        <form method="post" action="{{ url_for('index') }}">
            <div class="header">
                <h1>Sequence Alignment</h1>
            </div>
            <h2>Parameters</h2>
            <div class="parameter-section">
                <div class="parameter-item">
                    <label for="algorithm">Algorithm</label>
                    <select id="algorithm" name="algorithm">
                        <option value="nwa" {% if selected_algorithm == 'nwa' %}selected{% endif %}>Needleman-Wunsch</option>
                        <option value="swa" {% if selected_algorithm == 'swa' %}selected{% endif %}>Smith-Waterman</option>
                    </select>
                </div>
                <div class="parameter-item">
                    <label for="show-all-alignments">All optimal alignments</label>
                    <input type="checkbox" id="show-all-alignments" name="show_all_alignments" {% if show_all_alignments %}checked{% endif %}>
                </div>
                <div class="parameter-item">
                    <input type="file" id="file-input" accept=".fasta,.fa,.fna" hidden>
                    <label for="file-input" class="file-button">FASTA File</label> 
                </div>
                <div class="parameter-item">
                    <button type="submit" class="align-btn">Align</button>
                </div>
            </div>
            <h2>Sequences</h2>
            <div class="input-section">
                <div class="sequence-input">
                    <label for="seq1-name">Sequence 1</label>
                    <input type="text" id="seq1-name" name="seq1_name" placeholder="Enter name for sequence 1" value="{{ seq1_name }}">
                    <textarea id="seq1" name="seq1_sequence" placeholder="Enter sequence 1">{{ seq1_sequence }}</textarea>
                </div>
                <div class="sequence-input">
                    <label for="seq2-name">Sequence 2</label>
                    <input type="text" id="seq2-name" name="seq2_name" placeholder="Enter name for sequence 2" value="{{ seq2_name }}">
                    <textarea id="seq2" name="seq2_sequence" placeholder="Enter sequence 2">{{ seq2_sequence }}</textarea>
                </div>
            </div>
        </form>
        {% if alignments %}
            <h2>Result</h2>
            <div class="result-section">
                {% for alignment in alignments %}
                    <div class="result-item">  
                        <pre class="result-name"><br>{{ alignment[1].name }}<br><br>{{ alignment[3].name }}<br></pre>
                        <pre class="result-output">{{ alignment[0].seq }}<br>{{ alignment[1].seq }}<br>{{ alignment[2].seq }}<br>{{ alignment[3].seq }}<br>{{ alignment[4].seq }}</pre>
                    </div>
                {% endfor %}
            </div>
            {% endif %}
    </div>
</body>
</html>
<script>
const fileInput = document.getElementById('file-input');
const [seq1Input, seq2Input] = [document.getElementById('seq1'), document.getElementById('seq2')];
const [seq1Name, seq2Name] = [document.getElementById('seq1-name'), document.getElementById('seq2-name')];

fileInput.addEventListener('change', (event) => {
    const file = event.target.files[0];
    const reader = new FileReader();

    reader.onload = () => {
        const sequences = parseFasta(reader.result).slice(0, 4); // Extract only the first 4 elements (2 names and 2 sequences)
        [seq1Name.value, seq1Input.value, seq2Name.value, seq2Input.value] = sequences;
    };

    reader.readAsText(file);
});

function parseFasta(contents) {
    return contents.split('>')
        .filter(Boolean) 
        .map(entry => {
            const [name, ...sequenceLines] = entry.trim().split('\n');
            return [name.trim(), sequenceLines.join('')]; 
        })
        .flat(); 
}

</script>